<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" [routerLink]="'/'">My-App</a>
    <button class="navbar-toggler d-lg-none" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
      aria-controls="navbar-expand-section" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-expand-section" [ngbCollapse]="isCollapsed">
      <!-- <form class="form-inline ml-auto">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> -->
    </div>
  </nav>
